@model QLBH.Models.ModelViewQgTlAl

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>
    Thêm bài hát mới
</h2>
<div class="row">
    <div class="col-md-4">
        <form action="~/admin/Ql_BaiHat/ThemBaiHat" method="POST" id="form-id" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TENBAIHAT" class="control-label">TENBAIHAT</label>
                <input asp-for="TENBAIHAT" class="form-control" id="TENBAIHAT" name="TENBAIHAT" />
                <span asp-validation-for="TENBAIHAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LOIBAIHAT" class="control-label">LOIBAIHAT</label>
                <textarea asp-for="LOIBAIHAT" class="form-control" id="LOIBAIHAT" name="LOIBAIHAT" rows="4" cols="50"></textarea>
                <span asp-validation-for="LOIBAIHAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LUOTYEUTHICH" class="control-label">LUOTYEUTHICH</label>
                <input asp-for="LUOTYEUTHICH" class="form-control" id="LUOTYEUTHICH" name="LUOTYEUTHICH" />
                <span asp-validation-for="LUOTYEUTHICH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LUOTNGHE" class="control-label">LUOTNGHE</label>
                <input asp-for="LUOTNGHE" class="form-control" id="LUOTNGHE" name="LUOTNGHE" />
                <span asp-validation-for="LUOTNGHE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="THOILUONG" class="control-label">THOILUONG</label>
                <input asp-for="THOILUONG" class="form-control" id="THOILUONG" name="THOILUONG" />
                <span asp-validation-for="THOILUONG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QUOCGIA" class="control-label">QuocGia</label>
                <select asp-for="QUOCGIA" class="form-control" id="QUOCGIAID" name="QUOCGIAID">
                    @foreach (var item in Model.QuocGia)
                    {
                        <option id="@item.Id" value="@item.Id">@item.TenQG</option>
                    }
                    </select>
                <span asp-validation-for="QUOCGIA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="THELOAI" class="control-label">THELOAI</label>
                <select asp-for="THELOAI" class="form-control" id="THELOAIID" name="THELOAIID">
                    @foreach (var item in Model.TheLoai)
                    {
                        <option id="@item.Id" value="@item.Id">@item.TenTL</option>
                    }
                    </select>
                <span asp-validation-for="THELOAI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ALBUM" class="control-label">ALBUM</label>
                <select asp-for="ALBUM" class="form-control" id="ALBUMID" name="ALBUMID">
                    @foreach (var item in Model.Album)
                    {
                        <option id="@item.Id" value="@item.Id">@item.TENAL</option>
                    }
                    </select>
                <span asp-validation-for="ALBUM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ALBUM" class="control-label">Ca sĩ</label>
                <select asp-for="ALBUM" class="form-control" id="CaSiID" name="CaSiID">
                    @foreach (var item in Model.NgheSi)
                    {
                        <option id="@item.Id" value="@item.Id">@item.TenNS</option>
                    }
                </select>
                <span asp-validation-for="ALBUM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LINKBH" class="control-label">LINKBH</label>
                <input hidden asp-for="LINKBH" type="text" value="nhac" id="linkNhac" name="LINKBH" />
                <input type="file" id="linkaudio" />
                <span asp-validation-for="LINKBH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ANHBH" class="control-label">ANHBH</label>
                <input hidden asp-for="ANHBH"  type="text" value="anh" id="linkanhBH" name="ANHBH" />
                <input type="file" id="linkimage" />
                <span asp-validation-for="ANHBH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LINKANHPN" class="control-label">LINKANHPN</label>
                <input hidden asp-for="LINKANHPN"  type="text" value="anhPN" id="linkanhBHPN" name="LINKANHPN" />
                <input type="file" id="linkimagephatnhac" />
                <span asp-validation-for="LINKANHPN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" name="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    async function uploadFile(file) {
      const formData = new FormData();
      formData.append('file', file);
      formData.append('upload_preset', 't1pu4dpc');
      formData.append('cloud_name', 'dccswqs2m');
      const res = await fetch(
        'https://api.cloudinary.com/v1_1/dccswqs2m/upload',
        {
          method: 'POST',
          body: formData,
        }
      );
      const data = await res.json();
      return data;
    }
    const audio = document.getElementById('linkaudio');

    const image = document.getElementById('linkimage');
    const form = document.getElementById('form-id');
    const imagePN = document.getElementById('linkimagephatnhac');

    var LINKBH;
    var ANHBH;
    var LINKANHPN;
    audio.addEventListener('change', (e) => {
      e.preventDefault();
      Array.from(e.target.files).forEach(async (file) => {
        if (file.size <= 52428800) {
          const data = await uploadFile(file);
          LINKBH = data.url;
          document.getElementById('linkNhac').value = LINKBH;
          console.log(document.getElementById('linkNhac').value);
        } else {
          alert('Size of this file is so big!!');
        }
      });
    });
    image.addEventListener('change', (e) => {
      e.preventDefault();
      Array.from(e.target.files).forEach(async (file) => {
        if (file.size <= 52428800) {
              const data = await uploadFile(file);
              ANHBH = data.url;
              document.getElementById('linkanhBH').value = ANHBH;
                console.log(document.getElementById('linkanhBH').value);
        } else {
          alert('Size of this file is so big!!');
        }
      });
    });
    imagePN.addEventListener('change', (e) => {
        e.preventDefault();
        Array.from(e.target.files).forEach(async (file) => {
            if (file.size <= 52428800) {
                const data = await uploadFile(file);
                console.log(data.url);
                LINKANHPN = data.url;
                document.getElementById('linkanhBHPN').value = LINKANHPN;
                console.log(document.getElementById('linkanhBHPN').value);
            } else {
                alert('Size of this file is so big!!');
            }
        });
    });
    form.addEventListener('submit', (e) => {
      //e.preventDefault();
      console.log(e);
    });
</script>